#moons {
  width: 100%;
  color: white;
  background-color: black;
  padding: 16px;
}
#moons > b {
  display: block;
  font-size: 24px;
  text-align: center;
}
#moons > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#moons > div > div {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1%;
  padding: 1%;
}
#moons > div > div > span {
  position: absolute;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#moons > div > div > div {
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
}
#moons > div > div > svg {
  width: 95%;
  display: block;
  margin: 10px auto 0 auto;
}
